<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Books">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.TestClass">
     <methods>
			<include name="Test_04_Authenticate" />
			<include name="Test_05_Order_A_Book" />
			<include name="Test_06_GetOrder_ByID" />
			<include name="Test_07_UpdateOrder" />
			
			
	</methods>
      
      
      
      
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Books -->
